@import "src/assets/styles/colors";

.ant-select {

  &.grey-select .ant-select-selector {
    border-radius: 16px;
    background: #f1f1f4 !important;
  }
}

.ant-tabs .ant-tabs-tab {
  color: $grey;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
}

.ant-tabs-nav-list {
  color: $grey;
  font-size: 16px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 24px;
}

.ant-slider-track {
  background: $primary !important;
}

.ant-slider-handle:after {
  box-shadow: 0 0 0 2px $primary !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $black;
}

.ant-tabs .ant-tabs-ink-bar {
  background: $black;
}

.ant-tabs .ant-tabs-tab+.ant-tabs-tab {
  margin-left: 64px;
}

.ant-input-group-addon {
  background: white !important;
  padding: 0 !important;
}

.ant-input-prefix {
  padding: 1px 12px 1px 5px;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 4px;
}

.ant-checkbox-group-item {
  padding: 12px ;
}

.ant-dropdown-menu-item {

  &:hover, &:active, &:focus {
    background: white !important;
  }
}

.project > .ant-tabs > .ant-tabs-content-holder {
  border: none;
}

.project {
  .ant-tabs-tabpane {
    padding-left: 134px !important;
  }
}
