$grey: #6D6E7A;
$text-grey: #9898a1;
$light-grey: #FAFAFA;
$grid-background: #FAFAFA;
$black: #141527;
$primary: #3649FF;
$light-blue: #F7F9FC;
$purple: #7F1EB0;
$border-default: #DCDCE0;
$active-state: #F37748;
$bg-btn-grey: #EFEFF1;
$grey-for-stroke: #E9E9EE;
